{{#if InfoCircuit.CIRNOM}}

<ul>
{{#each listeCircuit}}
  <li><a href="/detailCircuit/{{this.CIRNUM}}"><img src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" id="drapCircuit"/> {{this.CIRNOM}}</a></li>
{{/each}}
</ul>

  <img src="/image/circuit/{{InfoCircuit.CIRADRESSEIMAGE}}" alt="{{InfoCircuit.CIRADRESSEIMAGE}}" class="imgLeft" />

   <ul>
       <li><b>Nom :</b>  {{InfoCircuit.CIRNOM}} </li>
       <li><b>Longueur :</b>  {{InfoCircuit.CIRLONGUEUR}} </li>
       <li><b>Nombre de spectateur :</b>  {{InfoCircuit.CIRNBSPECTATEURS}} </li>
       <li><b>Pays :</b>  {{InfoCircuit.PAYNOM}} </li>
   </ul>
   <p class="justifier">{{InfoCircuit.CIRTEXT}}

{{/if}}
